/* custom styles should go in here. this is a global sheet */ 

html, body {
    min-height: 100vh;
    margin-bottom: 90px;
}

/* Header bits */
nav {
    background-color: #5184C7;
}

.switchStyle {
    height: 90vh;
}

/* footer */ 
.footBar{
    position: fixed; 
    height: 7.5vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: black; 
    z-index: 999;
}

.footLinks {
    font-size: 1rem;
    color: white;
}

/* header */
.betterMountainLogo {
    height: 45px;
    width: 45px; 
    margin-top: 10px;
    margin-bottom: 0; 
    padding: 0; 
}

.headerProfilePic {
    margin-top: 10px;
    padding: 0; 
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 3px solid white;
}

nav ul a {
    max-height: 56px;   
}

/* 
    buttons used on login and registration forms 
    used: LoginView, RegisterView  
    FIXME text sometimes overflows on landscape devices   
*/
.form-btn {
    width: 100%;
}

.file-field-label {
    padding-right: 10px;
}

/* Start with mobile layout first */
@media only screen and (max-width: 600px) {
    /* FIXME footbar text can't be seen on landscape mobile */ 
    .footBar {
        margin: 0;
        text-align: center;
    }  

    ul.right {
        width: 150px; 
    }
}

/* Desktop */
@media only screen and (min-width: 601px) {
    nav ul a {
        max-height: 64px;   
    }

    .betterLogo {
        font-size: 1.5rem;
    }

    .footBar {
        padding-top: 0.4%; 
        font-size: 1.5rem;
    } 
}   

/* Probs dont need to address landscape orientation */
/********  Landing Page CSS **********/
#landingImgLeft, #landingImgRight, #aboutImgLeft, #aboutImgRight{
    display: flex;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

@media only screen and (max-width: 600px) {
    #landingImgLeft, #landingImgRight, #aboutImgLeft, #aboutImgRight{
        display: none;
    }
}

#landingText, #aboutText {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2% 2%;
}

#landingTitle, .landingLink, #aboutTitle {
    color: #46c6a5;
}

#landingRow, #aboutRow{
    margin: 0%;
}

/*
    post contains the actual content a user is sharing 
    used: Post
*/
.post {
    border-radius: 1rem;
    background-color: #5185C7;
    color: white;
    margin-top: 5px;
    height: 18vh;
}

.createpost-profile-pic {
    margin-top: 3%;
}

.post-profile-pic {
    margin-top: 1%;
}

.post-profile-pic p {
    margin-top: 0;
}

/* TODO fix post text overflowing */
.post-text p {
    margin-top: 1px; 
}

.post-text h5 {
    margin-bottom: 1px;
    margin-top: 5px; 
}

.post-support-icon {
    margin-top: 5%;
    color: white;
}

/* 
    profile picture contains the user's avatar 
    used: Post
*/
.profile-picture {
    border: 2px solid white;
    border-radius: 50%;
}

/* custom media queries for material-icons */

/* sm screens */
@media only screen and (max-width: 600px) {
    .material-icons {
        font-size: 3rem;
        display: inline; 
    }
}

/* sceens larger than sm */
@media only screen and (min-width: 601px) {
    .material-icons {
        font-size: 4rem;
        display: inline; 
    }
}

/* custom alterations to materialize framework */

/************* Profile View CSS **************/
.profileBioCard {
    border-radius: 1rem;
    background-color: #5185C7;
    color: white;
    height: auto;
    margin: 5px;
}


.bio-button {
    color: #46c6a5;
    margin: 2px;
}

@media only screen and (min-width: 400px) {
    .bio-button {
        color: #46c6a5;
        margin: 5px;
    }
}

#profile-picture {
    margin: 10px;
}

#bioContent {
    padding: 5px 10px 20px 10px;
}

#profileUsername {
    margin: 0px 0px 10px 80px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
}

.popup_inner {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    color:#27aa89;
    background: white;
    height: auto;
    width: auto;
}

.updateBioButton {
    margin: 2%;
}

.bioPopupTextarea {
    padding: 1%;
    height: 40vh;
    border: 3px solid #27aa89;

}

/* Edit for @media */
/* Find color palette */
.postButton {
    background-color: #6BDBBF;
    width: 6em;
    height: 3em;
    border-radius: 20%;
    margin-top: 15%;
    font-size: 1rem;
    color: white;
}

.postButton:hover {
    background-color: #27AA89;
    transition: .7s;
}

.postCheckBox {
    color: #27AA89;
    float: right;
    margin-right: 2rem;
}

#postPhrase {
    color: #27AA89;
}

::placeholder {
    color: white;
}

#createPostBox {
    background-color: #5184C7;
    height: 45vh;
    width: 100%;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
}

/* Make it a class so an ID can overwrite it as needed? */
.fileUpload {
    display: inline-block;
}

.filterBarButtons {
    margin-top: 6%;
}

.betterButton {
    background-color: #46C6A5;
}

.betterButton:hover {
    background-color: #27AA89;
}

.fileInputField {
    display: none;
}

.tagField {
    padding-bottom: 5%;
    color: black;
}

/* custom alterations to materialize framework */
